<h2 phx-click="boom">Update your password</h2>

<%= f = form_for @changeset, "#", [phx_change: :validate, phx_submit: :save, phx_hook: "SavedForm"] %>

<%= label f, :password %>
<%= password_input f, :password, value: input_value(f, :password) %>
<%= error_tag f, :password %>

<%= label f, :password_confirmation %>
<%= password_input f, :password_confirmation, value: input_value(f, :password_confirmation) %>
<%= error_tag f, :password_confirmation %>

<div>
    <%= submit "Save", phx_disable_with: "Saving...", id: "user_submit" %>
</div>
</form>

<span><%= live_redirect "Back", to: Routes.user_new_path(@socket, :new) %></span>
