<h2>Homework app for GlobalReader</h2>

<ol>
    <li><%= link "Create user", to: Routes.user_new_path(@conn, :new) %></li>
    <li><%= link "Sign in", to: Routes.session_new_path(@conn, :new) %></li>
    <li><%= link "Reset password", to: Routes.password_reset_new_path(@conn, :new) %></li>
    <li>Click link in email</li>
    <li>Set new password</li>
</ol>
